* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    margin: 0;
}

.div-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 85vh;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Cabeçalho */
.div-topo {
    width: 100%;    
    height: 10vh;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1000;
}

.logo {
    position: relative;
}

.menu-topo {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.menu-topo a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

.menu-topo a:hover {
    color: #e8ab10;
    font-weight: 700;
}

/* Botão Contato */
.botao-contato {
    background-color: #e8ab10;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.botao-contato:hover {
    background-color: #000;
    color: #fff;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20vh;
    width: 80%;
}

.hero-section h1 {
    font-size: 2.9rem;
    background-image: linear-gradient(45deg, #e8ab10, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-section p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* Modelos de Orçamento */
.modelos-orcamento {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    position: relative;
    top: 5vh;
    margin-bottom: 10vh;
}

.orcamento {
    width: 400px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #e8ab10, #ffffff);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.orcamento h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.orcamento p {
    margin-bottom: 10px;
}

.orcamento a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.orcamento a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* Rodapé */
.rodape {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.redes-sociais a {
    color: #e8ab10;
    font-size: 1.9rem;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .div-topo {
        width: 100%;
        padding: 1%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        position: relative;
        right: 5%;
        bottom: 0.5vh;
    }

    .menu-topo {
        display: none;
    }

    .botao-contato {
        width: 100px;
        font-size: 1rem;
        padding: 2%;
        position: relative;
        right: 4%;
    }

    .hero-section h1 {
        font-size: 1.4rem;
    }

    .modelos-orcamento {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

    .orcamento {
        width: 100%;
    }

    .rodape { 
        height: 100px;
        margin-top: 5vh;
        font-size: 0.8rem;
    }
}